= stylesheet_link_tag 'reset', 'layout', 'style'
= stylesheet_link_tag 'calendariffic/calendar-blue'
= stylesheet_link_tag "chromestyle"
= stylesheet_link_tag "modalbox"
= javascript_include_tag :defaults
= javascript_include_tag "scriptaculous.js?load=effects", "modalbox"
= javascript_include_tag "chrome"
= javascript_include_tag 'calendariffic/calendar', 'calendariffic/lang/calendar-en', 'calendariffic/calendar-setup'
= javascript_include_tag 'swfobject'
