%table
  %thead
    %tr
      %th Name
      %th Entries tagged
      %th
  %tbody
    - for tag in @tags
      %tr
        %td= tag.name
        %td= tag.entries.count
        %td
          = edit_tag_link(tag.id)
          = link_to image_tag("/images/icons/delete.png"), {:action=>:delete, :id=>tag.id}, :confirm=>"Are you sure?"
- form_tag(:action=>'create') do
  = text_field(:newtag,:name)
  = submit_tag 'Add new category'