- if from_date != nil && to_date != nil
  %div== From #{from_date} to #{to_date}

%div{:id=>"dateRange"}
  - form_tag(:id=>id) do
    %fieldset
      %legend Date Range
      %p
        %label{:for=>"From Date"} From Date
        .entry= simple_cal_input 'from_date', from_date
      %p
        %label{:for=>"To Date"} To Date
        .entry= simple_cal_input 'to_date', to_date
      %p
        .entry= submit_tag 'Run Report'
