- form_for @expand, :url=>{:action=>"create"} do |f|
  %fieldset
    %legend New Expansion
    %div= render :partial => "expand"
    %p
      .entry= submit_tag 'Add new expansion'
%table
  %thead
    %tr
      %th In
      %th Out
      %th Tag
      %th Shared Between
      %th
  %tbody
    - for expand in @expands
      %tr{:class => cycle("even", "odd")}
        %td= expand.in
        %td= expand.out
        %td= expand.tag == nil ? "" : expand.tag.name
        %td= expand.shared_between
        %td
          = link_to image_tag("/images/icons/delete.png"),{:controller=>"expand", :action=>"delete", :id=>expand.id}, :confirm=>"Are you sure?"
          = link_to image_tag("/images/icons/edit.png"), :controller=>"expand", :action=>"edit", :id=>expand.id
